<h2 class="resaltar espacio">- Proyectos:</h2>
<div class="espacio" *ngFor="let proyect of proyecto">
    <div class="card espacio">
        <div class="card-header">
            <h3>{{proyect.nombre}} ({{proyect.razon}})</h3> 
        </div>
        <div class="card-body">
            <h5 class="card-title">Finalidad del Programa:</h5>
            <p class="card-text">{{proyect.descripcion}}</p>
            <a href={{proyect.url}}
                class="btn btn-primary">Ver código</a>
        </div>
    </div>
</div>
<!-- <br>
<div class="espacio">
    <div class="card espacio">
        <div class="card-header">
            <h3>Ejercicio3Tp0 (Hecho en la Facultad)</h3> 
        </div>
        <div class="card-body">
            <h5 class="card-title">Finalidad del Programa:</h5>
            <p class="card-text">Dado un número entero positivo, determinar si
                el mismo es perfecto, abundante o deficiente. Incluir la
                validación pertinente para el ingreso del número.</p>
            <a href="https://github.com/Danico19827/Ejercicio3Tp0.git"
                class="btn btn-primary">Ver código</a>
        </div>
    </div>
</div> -->
<div> 
    <br>
    <h2><strong class="espacio resaltarV3">Está es una animación que hice con CSS:</strong></h2>
    <br>
    <div class="container-fluid text-center item-center">
        <section id="Logo">
            <div class="fondoLogo ">
                <div class="stars">
                    <span class="estrellas star-v1"></span>
                    <span class="estrellas star-v2"></span>
                    <span class="estrellas star-v3"></span>
                    <span class="estrellas star-v4"></span>
                    <span class="estrellas star-v5"></span>
                </div>
                <div class="planeta planeta-v1"></div>
                <div class="anillo"></div>
                <div class="anillo-apoyo"></div>
                <div class="anillo-apoyo anillo-apoyo-v2"></div>
                <div class="planeta planeta-v2"></div>
            </div>
        </section>
    </div>
    <br>
</div>