<section class="espacio resaltarV2" id="proyectos">
    <br>
    <div>
        <div class="col col-sm-10 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
            <h2 class="resaltar"><strong>- Mis Proyectos: </strong></h2>
            <h6 class="resaltarV2 espacio">En este apartado se encuentran los
                proyectos realizados por mi:</h6>
            <div class="espacio">
                <div class="list-group espacio w-50 text-center">
                    <a routerLink="/proyectos" class="list-group-item list-group-item-action">Ver
                        mis Proyectos</a>
                </div>
            </div>
        </div>
    </div>
</section>