<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5, mostrar"
                    id="exampleModalLabel">Salir del Modo Editor</h2>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mostrar">
                <h5 class="espacio">¿Seguro que desea salir del Modo
                    Editor?</h5>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        data-bs-dismiss="modal">Seguir
                        Editando</button>
                    <a href="/index"><button type="button" class="btn
                            btn-danger">Salir
                            del Modo</button></a>

                </div>
            </div>
        </div>
    </div>
</div>