
.fondo{
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/875244468225544420/29FBBD530E1A069D15233C73400A4C55AFEFCD5C/);
    background-repeat: no-repeat;
    background-size: 100%;
}
