
<div class="modal" id="agregar-habilidades" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mostrar">Agregar Habilidad</h5>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text"
                        id="inputGroup-sizing-default">Nombre de la
                        Habilidad</span>
                    <input type="text" [formControl]="habilidades"
                    class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                        aria-describedby="inputGroup-sizing-default">
                    <div *ngIf="habilidades?.touched &&
                        habilidades?.errors">
                        <p *ngIf="habilidades?.hasError('required')"
                            class="text-danger"><strong>El nombre de la
                                habilidad es requerido</strong></p>
                    </div>
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text"
                        id="inputGroup-sizing-default">Porcentaje de la
                        habilidad</span>
                    <input type="number" min="1" max="100"
                        [formControl]="porcentajes"
                        class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div *ngIf="porcentajes?.touched &&
                        porcentajes?.errors">
                        <p *ngIf="porcentajes?.hasError('required')"
                            class="text-danger"><strong>El porcentaje es
                                requerido</strong></p>
                        <p *ngIf="porcentajes?.hasError('max')"
                            class="text-danger"><strong>El porcentaje
                                debe
                                ser menor o igual a 100</strong></p>
                        <p *ngIf="porcentajes?.hasError('min')"
                            class="text-danger"><strong>El porcentaje
                                debe
                                ser mayor a 0</strong></p>
                    </div>
            </div>
            <div class="modal-footer">
                <div *ngIf="!(habilidades.errors ||
                    porcentajes.errors)">
                    <div>
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary"
                            data-bs-dismiss="modal"
                            (click)="crearHabilidades()">Agregar</button>
                    </div>
                </div>
                <div *ngIf=" (habilidades.errors ||
                    porcentajes.errors)">
                    <div>
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary"
                            data-bs-dismiss="modal" disabled
                            (click)="crearHabilidades()">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
