<ul class="list-group list-group-horizontal justify-content-center">
    <li class="list-group-item"><b>Mis Redes: </b></li>  
    <li class="list-group-item"><a class="redes" href="https://www.linkedin.com/in/nicol%C3%A1s-daniel-207710250/"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
    <br>
    <li class="list-group-item"><a class="redes" href="https://www.facebook.com/nicolas.daniel.92/"><i class="fa-brands fa-facebook fa-2xl"></i></a></li> 
    <li></li>
    <li class="list-group-item"><b>Iniciar Sesión: </b></li>
    <br>
    <li class="list-group-item"><a class="redes"><i class="fa-solid fa-user fa-2xl" type="button" data-bs-toggle="modal" data-bs-target="#login"></i></a></li>
</ul>