<section id="mi-informacion" class="about">
  <br>
  <div *ngFor="let user of usuario">
    <div class="container">
      <div class="container text-center center fondo-sobre-mi rounded-5">
        <div class="row">
          <div class="col posicionar">
            <br>
            <img src={{user.url}} class="rounded-circle borde" width="300"
              alt="..." title="...">
            <br>
            <br>
          </div>
        </div>
        <div class="row center">
          <div class="col posicionar">
            <div>
              <h2><strong>Mi Perfil: </strong></h2>
              <section id="nombre">
                <h4>Nombre: <strong>{{user.nombre}}</strong></h4>
              </section>
              <section id="edad">
                <h4>Edad: <strong> {{user.edad}} años</strong></h4>
              </section>
              <section id="descripcion">
                <h4>Descripción: <strong>{{user.descripcion}}</strong></h4>
              </section>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>