<form id="administrador">
<div *ngIf="logIn">
    <app-navbar-admin></app-navbar-admin>
    <app-mi-informacion-admin></app-mi-informacion-admin>
    <app-titulos-admin></app-titulos-admin>
    <app-experiencia-admin></app-experiencia-admin>
    <app-educacion-admin></app-educacion-admin>
    <app-proyectos-admin></app-proyectos-admin>
    <app-habilidades-admin></app-habilidades-admin>
</div>
<div class="container" *ngIf="!logIn"> 
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    Usuario no Autorizado
                </div>
                <div class="card-body">
                    <h5 class="card-title">Por favor Iniciar Sesión</h5>
                    <button class="btn btn-primary" routerLink="/index">Volver al Inicio</button>
                </div>
                <div class="card-footer text-body-secondary">
                </div>
            </div>
        </div>
    </div>
</div>
</form>