<div class="modal" id="agregar-proyecto" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title negro">Agregar Proyecto</h5>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="input-group mb-3">
                    <span class="input-group-text"
                        id="inputGroup-sizing-default">Nombre del Proyecto</span>
                    <input type="text" [formControl]="nombreProyecto"
                        class="form-control" aria-label="Sizing
                        example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div *ngIf="nombreProyecto?.touched &&
                    nombreProyecto?.errors">
                    <p *ngIf="nombreProyecto?.hasError('required')"
                        class="text-danger"><strong>El Nombre del Proyecto es
                            requerido</strong></p>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"
                        id="inputGroup-sizing-default">Razón por la que se hizo
                        el Proyecto</span>
                    <input type="text" [formControl]="razonProyecto"
                        class="form-control" aria-label="Sizing
                        example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div *ngIf="razonProyecto?.touched &&
                    razonProyecto?.errors">
                    <p *ngIf="razonProyecto?.hasError('required')"
                        class="text-danger"><strong>La Razón del Proyecto es
                            requerido</strong></p>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"
                        id="inputGroup-sizing-default">Descripción del Proyecto</span>
                    <input type="text" [formControl]="descripcionProyecto"
                        class="form-control" aria-label="Sizing
                        example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div *ngIf="descripcionProyecto?.touched &&
                    descripcionProyecto?.errors">
                    <p *ngIf="descripcionProyecto?.hasError('required')"
                        class="text-danger"><strong>La Descripción del Proyecto
                            es requerido</strong></p>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"
                        id="inputGroup-sizing-default">Enlace del Proyecto</span>
                    <input type="text" [formControl]="urlProyecto"
                        class="form-control" aria-label="Sizing
                        example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div *ngIf="urlProyecto?.touched &&
                    urlProyecto?.errors">
                    <p *ngIf="urlProyecto?.hasError('required')"
                        class="text-danger"><strong>El Enlace del Proyecto es
                            requerido</strong></p>
                </div>

            </div>
            <div class="modal-footer">
                <div *ngIf=" !(nombreProyecto.errors || razonProyecto.errors ||
                    descripcionProyecto.errors || urlProyecto.errors)">
                    <div>
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary"
                            data-bs-dismiss="modal" (click)="crearProyecto()">Agregar</button>
                    </div>
                </div>
                <div *ngIf="(nombreProyecto.errors || razonProyecto.errors ||
                    descripcionProyecto.errors || urlProyecto.errors)">
                    <div>
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary"
                            data-bs-dismiss="modal" disabled
                            (click)="crearProyecto()">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
