<div class="modal" id="agregar-proyecto" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title negro">Agregar Proyecto</h5>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="input-group mb-3">
                    <span class="input-group-text"
                        id="inputGroup-sizing-default">Nombre del Proyecto</span>
                    <input type="text" [formControl]="nombreProyecto"
                        class="form-control" aria-label="Sizing
                        example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"
                        id="inputGroup-sizing-default">Razón por la que se hizo
                        el Proyecto</span>
                    <input type="text" [formControl]="razonProyecto"
                        class="form-control" aria-label="Sizing
                        example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"
                        id="inputGroup-sizing-default">Descripción del Proyecto</span>
                    <input type="text" [formControl]="descripcionProyecto"
                        class="form-control" aria-label="Sizing
                        example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"
                        id="inputGroup-sizing-default">Enlace del Proyecto</span>
                    <input type="text" [formControl]="urlProyecto"
                        class="form-control" aria-label="Sizing
                        example input"
                        aria-describedby="inputGroup-sizing-default">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary"
                    data-bs-dismiss="modal" (click)="crearProyecto()">Agregar</button>
            </div>
        </div>
    </div>
</div>